<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="parent">
        <div id="container">
            <label for="">Email</label>
            <input type="email" name="email" id="email" placeholder="Enter your email">
        </div>
        <div id="container">
            <label for="">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your password">
        </div>
    </div>
</body>
</html>